
.aboutSingle .aboutSingleLeft{
    padding-right: 50px;

}
.aboutSingle .aboutSingleRight{
    position: relative;
    height: 450px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgb(0 0 0 / 14%), 0 10px 10px rgb(0 0 0 / 14%);

}

.aboutSingle .aboutSingleRight img{
    width: 100%!important;
    height: 100%!important;
    position: relative!important;
    object-fit: cover;
  }